.mozilla/
.mozilla/*

autostart/
autostart/*

cachyos/
cachyos/*

chromium/
chromium/*

dconf/
dconf/*

dunst/
dunst/*

glib-2.t/
glib-2.t/*

go/
go/*

gtk-3.0/
gtk-3.0/*

Kvantum/
Kvantum/*

libreoffice/
libreoffice/*

matplotlib/
matplotlib/*

menus/
menus/*

micro/
micro/*

mpv/
mpv/*

nvim/
nvim/*

plugins-nvim/
plugins-nvim/*

pulse/
pulse/*

qt5ct/
qt5ct/*

systemd/
systemd/*

unity3d/
unity3d/*

scripts/
scripts/*
i3/scripts/
i3/scripts/*

ytfzf/
ytfzf/*

cachyos-hello.json
QtProject.conf
user-dirs.dirs
user-dirs.locale
